* {
	font-size: 12px; font-family: arial; font-weight: normal; text-decoration: none; text-transform: none!important; color: #000!important; padding: 0; margin-bottom: 0;
}
img.img-thumb{width: 200px; height: 200px;}